<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>宏亮首页</title>
    ﻿<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection" content="telephone=no">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="alternate icon" type="image/png" href="/images/index/favicon.png">
<link rel='icon' href='favicon.ico' type='image/x-ico' />
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="stylesheet" href="css/default.min.css?t=227" />
<!--[if (gte IE 9)|!(IE)]><!-->
<script type="text/javascript" src="js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script type="text/javascript" src="js/handlebars.min.js"></script>
<script type="text/javascript" src="js/iscroll-probe.js"></script>
<script type="text/javascript" src="js/amazeui.min.js"></script>
<script type="text/javascript" src="js/jquery.raty.js"></script>
<script type="text/javascript" src="js/main.min.js?t=1"></script>
</head>
<body>
    <header class="header">
    <div class="header-container">
        <div class="header-div pull-left">
                <a class="header-logo">
                    <img src="/images/index/logo.png" />
                </a>
            <button class="am-show-sm-only am-collapsed font f-btn" data-am-collapse="{target: '.header-nav'}">&#xe68b;</button>
        </div>
        

        <nav>
            <ul class="header-nav am-collapse">
                <li class="on"><a href="/index">宏亮首页</a></li>
                <li><a href="/news">赛事信息</a></li>
                <li><a href="/caipanlist">优秀裁判</a></li>
                <li><a href="/login">比赛管理系统</a></li>

            </ul>
            <div class="header-serch  am-hide-md-down">
                <input type="text" name="name" value="" />
                <em class="font"></em>
            </div>
        </nav>


    </div>
</header>
    <div  class="am-cf"></div>
    <div class="am-slider am-slider-default" data-am-flexslider="{playAfterPaused: 8000}">
        <ul class="am-slides">
            <li><img src="/images/index/index_banner.jpg" /></li>
            <li><img src="/images/index/index_banner1.jpg" /></li>
            <li><img src="/images/index/index_banner2.jpg" /></li>
        </ul>


    </div>

    <div class="index-nav">
        <div class="cms-g">
            <div class="am-u-sm-6 am-u-md-6 am-u-lg-3">
                <div class="index-nav-item">
                    <div class="index-nav-img">
                        <img src="/images/index/index_nav01.png"/>
                    </div>
                    <div class="index-nav-info">
                        <h1>宏亮首页</h1>
                        <h2></h2>
                        <em class="font"><a href="#">详细介绍&#x25B8;</a></em>
                    </div>
                </div>
            </div>
            <div class="am-u-sm-6 am-u-md-6 am-u-lg-3">
                <div class="index-nav-item">
                    <div class="index-nav-img">
                        <img src="/images/index/index_nav02.png" />
                    </div>
                    <div class="index-nav-info">
                        <h1>赛事信息</h1>
                        <h2></h2>
                        <em class="font"><a href="#">详细介绍&#x25B8;</a></em>
                    </div>
                </div>
            </div>
            <div class="am-u-sm-6 am-u-md-6 am-u-lg-3">
                <div class="index-nav-item">
                    <div class="index-nav-img">
                        <img src="/images/index/index_nav03.png" />
                    </div>
                    <div class="index-nav-info">
                        <h1>优秀裁判</h1>
                        <h2></h2>
                        <em class="font"><a href="#">详细介绍&#x25B8;</a></em>
                    </div>
                </div>
            </div>
            <div class="am-u-sm-6 am-u-md-6 am-u-lg-3">
                <div class="index-nav-item">
                    <div class="index-nav-img">
                        <img src="/images/index/index_nav04.png" />
                    </div>
                    <div class="index-nav-info">
                        <h1>比赛管理系统</h1>
                        <h2></h2>
                        <em class="font"><a href="#">详细介绍&#x25B8;</a></em>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="index-content">
        <div class="cms-g">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-4">
                <div class="index-content-left">
                        <h1>关于宏亮</h1>
                        <div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-0">
                            <ul class="am-slides">
                                <li><img src="/images/index/index-content-left-01.png" /></li>
                                <li><img src="/images/index/index-content-left-01.png" /></li>
                                <li><img src="/images/index/index-content-left-01.png" /></li>
                                <li><img src="/images/index/index-content-left-01.png" /></li>
                                <li><img src="/images/index/index-content-left-01.png" /></li>
                                <li><img src="/images/index/index-content-left-01.png" /></li>
                            </ul>
                        </div>
                        <strong><a href="#">关于宏亮比赛</a></strong>
                        <em><a href="#">详情介绍&#x25B8;<i class="font"></i></a></em>
                </div>
            </div>
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-4">
                <div class="index-content-center">
                    <h1>赛事信息<a href="#">MORE<i class="font">&#x25B8;</i></a></h1>
                    <ul>
                        <li><a href="#"><span>&#x25B8;宏亮比赛第一条赛事信息</span> <em>2017-9-27</em></a></li>
                        <li><a href="#"><span>&#x25B8;宏亮比赛第二条赛事信息</span><em>2017-9-27</em></a></li>
                        <li><a href="#"><span>&#x25B8;宏亮比赛第三条赛事信息</span><em>2017-9-27</em></a></li>
                        <li><a href="#"><span>&#x25B8;宏亮比赛第四条赛事信息</span><em>2017-9-27</em></a></li>
                        <li><a href="#"><span>&#x25B8;宏亮比赛第五条赛事信息</span><em>2017-9-27</em></a></li>
                        <li><a href="#"><span>&#x25B8;宏亮比赛第六条赛事信息</span><em>2017-9-27</em></a></li>
                    </ul>
                </div>
            </div>
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-4">
                <div class="index-content-right">
                    <h1>优秀裁判<a href="#">MORE<i class="font">&#x25B8;</i></a></h1>
                    <img src="/images/index/index-content-right-01.jpg"/>
                    <ul>
                        <li><a href="#">宏亮比赛优秀裁判</a></li>
                        <li><a href="#">宏亮比赛优秀裁判</a></li>
                        <li><a href="#">宏亮比赛优秀裁判</a></li>
                        <li><a href="#">宏亮比赛优秀裁判</a></li>
                        <li><a href="#">宏亮比赛优秀裁判</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    ﻿<footer>
    <div class="cms-g">
        <div class="footer">

            <span style="color:#fff;"> ©2017 hongliang.com &nbsp;&nbsp;&nbsp;地址： </span><br>
            <span style="color:#fff;"> 技术支持：运城学院</span>
        </div>
        
    </div>
</footer>
</body>
</html>